boot/src/test/resources/server-spec-jaxb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.opsource.net/simpleapp" xmlns:xs2="http://www.opsource.net/simpleapp">
    <xs:element name="server">
        <xs:complexType>
            <xs:all>
                <xs:element ref="xs2:id"/>
                <xs:element ref="xs2:name"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="id" type="xs:integer"/>
    <xs:element name="name" type="xs:NCName"/>
</xs:schema>
